/* color scheme: #1a1a1d, #c3073f, #950740 */


html {
    background-color: #1a1a1d;
}
h1 {
    color: #950740;
    font-family: 'Concert One';
    font-size: 6em;
    text-align: center;
}

/* form formatting */
.form-group {
    color: #c3073f;
    font-family: 'Concert One';
    text-align: center;
    font-size: 3em;
    padding-bottom: 50px;
 
}
.form-control {
    color: #c3073f;
    font-family: 'Concert One';
    text-align: center;
    font-size: .5em;
    margin-top: auto;
    margin-bottom: auto;
 
}
#submit {
    color: #1a1a1d;
    font-family: 'Concert One';
    text-align: center;
    font-size: .5em;
    margin-top: auto;
    margin-bottom: auto;
}

/* formatting for container for results */
.container {
    text-align: center;
    display: justify-content;
    flex-wrap: wrap;

}
#results {
    flex-wrap: wrap;
}

.page-wrapper {
  margin-left: .5em;
  margin-right: .5em;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.col-sm-4 {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}