html {
    background-color: #1a1a1d;
}
h1 {
    color: #950740;
    font-family: 'Concert One';
    font-size: 6em;
    text-align: center;
}
.form-group {
    color: #c3073f;
    font-family: 'Concert One';
    text-align: center;
    font-size: 3em;
 
}
.form-control {
    color: #c3073f;
    font-family: 'Concert One';
    text-align: center;
    font-size: .5em;
    margin-top: auto;
    margin-bottom: auto;
 
}

.container {
    text-align: center;
}